li {
  display: none;
}

.col-xs-4 h2{
  text-align: right;
}

.col-xs-8 li h2 {
  text-align:left;
  float:left;
}

.container {
  width:75%;
}

header .top {
    padding-top: 100px;
    padding-bottom: 50px;
}
